@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,100&display=swap");

.HC {
  margin-left: 40%;
  margin-top: 15%;
}

.waving-hand {
  position: relative;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.PM {
  font-family: "Permanent Marker", cursive;
}

.GS {
  font-family: "Grandstander", cursive;
}

.ZB {
  box-shadow: 0 20px 20px -2px rgba(0, 0, 0, 0.2);
}

.underline--magical {
  background-image: linear-gradient(100deg, #111111 0%, #FFCB74 170%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
}


.fx {
  position: fixed;
}
